github "LoopKit/LoopKit" == 1.3.0
github "LoopKit/xDripG5" ~> 0.8.0
github "i-schuetz/SwiftCharts" ~> 0.6.0
github "mddub/dexcom-share-client-swift" == 0.2.1
github "mddub/G4ShareSpy" == 0.3.2
github "ps2/rileylink_ios" == 1.1.0
github "amplitude/Amplitude-iOS" ~> 3.8.5
