github "loudnate/LoopKit" ~> 0.3.4
github "loudnate/xDripG5" ~> 0.5.0
github "loudnate/SwiftCharts" "loudnate/naterade"
github "mddub/dexcom-share-client-swift" ~> 0.1
github "ps2/rileylink_ios" ~> 0.6.0
github "amplitude/Amplitude-iOS" "mpurland-framework"
