github "loudnate/LoopKit" "dev"
github "loudnate/xDripG5" "dev"
github "loudnate/SwiftCharts" "loudnate/naterade"
github "mddub/dexcom-share-client-swift" ~> 0.1
github "ps2/rileylink_ios" "dev"
github "mpurland/Amplitude-iOS" "framework"
