//
//  Version.xcconfig
//  Loop
//
//  Created by Darin Krauss on 1/30/20.
//  Copyright © 2020 LoopKit Authors. All rights reserved.
//

// Version
//   [for DIY Loop] configure the version number in LoopWorkspace
LOOP_MARKETING_VERSION = 1.0
CURRENT_PROJECT_VERSION = 1

// Optional override (enables override of version)
#include? "../VersionOverride.xcconfig"
#include? "VersionOverride.xcconfig"
